body{
    font-size: 2rem;
}

main{
    background-color: aqua;
    width: 50%;
}

p{
    background-color: lightgray;
    margin: 100px 50px;
}

.opposite{
    display:inline-block;
    background-color: #333;
    color: whitesmoke;
    margin-top: 100px;
    height: 200px;
    padding: 4rem;
}

ul{
    background-color: lightgray;
    padding: 0.5rem;
    list-style-type: none;
    text-align: right;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
    /* display: none; */
}

li a{
    color: #fff;
    text-decoration: none;
}

li a:focus, li a:hover{
    text-decoration: underline;
}