body{
    font-size: 2rem;
}

.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 2px solid #000;
    column-gap: 3rem;
}

.columns p{
    margin-top: 0;
}

.columns h2{
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin-top: 0;
    padding: 3rem;
    break-inside: avoid;
}

.columns .quote{
    column-span: all;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 2rem;
}

.nowrap{
    white-space: nowrap;
}